N8N automation/Soporte Inteligente - Antrhopic AI.json
{
  "name": "Soporte Inteligente - Antrhopic AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soporte-inteligente",
        "responseMode": "lastNode",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3d333a91-0f08-4f85-9cdf-6332a14129a1",
      "name": "Webhook",
      "webhookId": "88c0732e-13cc-4d07-b29a-53b19b13e16b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed365030-0fc0-4f6b-b141-3ebf2b2bdcdd",
              "leftValue": "{{ $json.body.email }}",
              "rightValue": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "a2ba442c-a3c5-44af-b9a9-19bd60eeb8fe",
              "leftValue": "={{ $json.body.nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3b17d5fb-7f11-4513-9b43-8b7c64308d0b",
              "leftValue": "={{ $json.body.mensaje }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "adbcc40c-892d-4adf-8829-86d0ed81901a",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ticket_id\": \"={{ 'TK-' + $now.toFormat('yyyyMMdd') + '-' + Math.floor(Math.random() * 9000 + 1000) }}\",\n  \"fecha\": \"={{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}\",\n  \"nombre\": \"={{ $json.body.nombre }}\",\n  \"email\": \"={{ $json.body.email }}\",\n  \"asunto\": \"={{ $json.body.asunto || 'Sin asunto' }}\",\n  \"mensaje\": \"={{ $json.body.mensaje }}\",\n  \"prioridad\": \"={{ $json.body.prioridad || 'media' }}\",\n  \"ip_origen\": \"={{ $json.headers?.['x-forwarded-for'] || 'Local' }}\",\n  \"estado\": \"NUEVO\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -96
      ],
      "id": "c0bc3f40-af65-42c6-8126-805a2b21c5b7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "=={{ JSON.parse($json.content[0].text).categoria }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "012a8722-3862-424b-ad47-ab9f4f3269ae"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2147e316-293e-418b-bc16-f43414905458",
                    "leftValue": "TÉCNICO",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9e5a13cf-5163-4d09-afaa-6d066c2fe073",
                    "leftValue": "FACTURACIÓN",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c159b45d-3c72-4c12-8aaf-ba05969ae02c",
                    "leftValue": "QUEJA",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "=CONSULTA_GENERAL y SOLICITUD"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1024,
        -128
      ],
      "id": "41aad8bb-0c3b-450d-9113-7464566f1fe0",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ticket_id\": \"={{ $('Edit Fields').item.json.ticket_id }}\",\n  \"fecha\": \"={{ $('Edit Fields').item.json.fecha }}\",\n  \"nombre\": \"={{ $('Edit Fields').item.json.nombre }}\",\n  \"email\": \"={{ $('Edit Fields').item.json.email }}\",\n  \"asunto\": \"={{ $('Edit Fields').item.json.asunto }}\",\n  \"mensaje\": \"={{ $('Edit Fields').item.json.mensaje }}\",\n  \"prioridad_usuario\": \"={{ $('Edit Fields').item.json.prioridad }}\",\n  \"analisis_ia\": \"={{ $json.content ? JSON.parse($json.content[0].text) : JSON.parse($json.text) }}\",\n  \"categoria_ia\": \"={{ $json.content ? JSON.parse($json.content[0].text).categoria : JSON.parse($json.text).categoria }}\",\n  \"sentimiento_ia\": \"={{ $json.content ? JSON.parse($json.content[0].text).sentimiento : JSON.parse($json.text).sentimiento }}\",\n  \"urgencia_ia\": \"={{ $json.content ? JSON.parse($json.content[0].text).urgencia : JSON.parse($json.text).urgencia }}\",\n  \"resumen_ia\": \"={{ $json.content ? JSON.parse($json.content[0].text).resumen : JSON.parse($json.text).resumen }}\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -96
      ],
      "id": "256aa914-d63b-4d7e-ba85-f572b7d5ab33",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "=claude-sonnet-4-5-20250929",
          "mode": "id"
        },
        "options": {
          "maxTokensToSample": 800,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1440,
        80
      ],
      "id": "fe8780e9-bd09-48b0-9a6d-895cd9bc1f9b",
      "name": "Anthropic Chat Model1"
    },
    {
      "parameters": {
        "sendTo": "{{ $('Edit Fields1').item.json.email }}",
        "subject": "[{{ $('Edit Fields1').item.json.ticket_id }}] Respuesta a: {{ $('Edit Fields1').item.json.asunto }}",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head><meta charset=\"UTF-8\"></head> <body style=\"font-family: 'Segoe UI', Tahoma, sans-serif; background-color: #ffffff; margin: 0; padding: 20px;\">   <div style=\"max-width: 600px; margin: 0 auto; padding: 30px; border-left: 4px solid #2196F3;\">          <div style=\"background-color: #e3f2fd; padding: 15px; border-radius: 5px; margin-bottom: 20px;\">       <p style=\"margin: 0; color: #1565c0; font-size: 13px;\">         🎫 Ticket: <strong>{{ $('Edit Fields1').item.json.ticket_id }}</strong> \n          Categoría: <strong>{{ $('Edit Fields1').item.json.categoria_ia }}</strong> \n         Prioridad: <strong>{{ $('Edit Fields1').item.json.urgencia_ia }}</strong>       </p>     </div>      <h2 style=\"color: #333; margin-top: 0;\">Hola {{ $('Edit Fields1').item.json.nombre }}, hemos recibido tu solicitud</h2>          <div style=\"background-color: #f5f5f5; padding: 20px; border-radius: 5px; margin: 20px 0;\">       <p style=\"color: #555; font-size: 15px; line-height: 1.8; margin: 0; white-space: pre-wrap;\">{{ $json.content ? $json.content[0].text : $json.text }}</p>     </div>      <div style=\"border-top: 1px solid #e0e0e0; padding-top: 15px; margin-top: 20px;\">       <p style=\"color: #999; font-size: 12px;\">         📅 Fecha: {{ $('Edit Fields1').item.json.fecha }}<br>         Este mensaje fue generado automáticamente por nuestro sistema de soporte inteligente.<br>         Si necesitas asistencia adicional, responde a este correo con tu número de ticket.       </p>     </div>    </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1760,
        -96
      ],
      "id": "5af30be2-3a1e-44ec-a313-6a70df07eab7",
      "name": "Send a message",
      "webhookId": "0a3b1962-18dd-4c9f-ba8e-9758df0877a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "z3nLSIYQ3peNuxbL",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Alonsopinto900@gmail.com",
        "subject": "==[SOPORTE IA] {{ $('Edit Fields1').item.json.urgencia_ia }} - {{ $('Edit Fields1').item.json.categoria_ia }} | {{ $('Edit Fields1').item.json.ticket_id }}",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head><meta charset=\"UTF-8\"></head> <body style=\"font-family: 'Segoe UI', Tahoma, sans-serif; background-color: #ffffff; margin: 0; padding: 20px;\">   <div style=\"max-width: 650px; margin: 0 auto; padding: 30px;\">          <div style=\"background-color: #fff3e0; padding: 15px; border-radius: 5px; border-left: 4px solid #ff9800; margin-bottom: 20px;\">       <h2 style=\"margin: 0; color: #e65100; font-size: 18px;\">🤖 Nuevo Ticket Analizado por IA</h2>     </div>      <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">       <tr style=\"background-color: #f5f5f5;\">         <td style=\"padding: 10px; font-weight: bold; width: 150px; border: 1px solid #e0e0e0;\">🎫 Ticket</td>         <td style=\"padding: 10px; border: 1px solid #e0e0e0;\">{{ $('Edit Fields1').item.json.ticket_id }}</td>       </tr>       <tr>         <td style=\"padding: 10px; font-weight: bold; border: 1px solid #e0e0e0;\">👤 Cliente</td>         <td style=\"padding: 10px; border: 1px solid #e0e0e0;\">{{ $('Edit Fields1').item.json.nombre }} ({{ $('Edit Fields1').item.json.email }})</td>       </tr>       <tr style=\"background-color: #f5f5f5;\">         <td style=\"padding: 10px; font-weight: bold; border: 1px solid #e0e0e0;\">📋 Asunto</td>         <td style=\"padding: 10px; border: 1px solid #e0e0e0;\">{{ $('Edit Fields1').item.json.asunto }}</td>       </tr>       <tr>         <td style=\"padding: 10px; font-weight: bold; border: 1px solid #e0e0e0;\">🤖 Categoría IA</td>         <td style=\"padding: 10px; border: 1px solid #e0e0e0; font-weight: bold; color: #1565c0;\">{{ $('Edit Fields1').item.json.categoria_ia }}</td>       </tr>       <tr style=\"background-color: #f5f5f5;\">         <td style=\"padding: 10px; font-weight: bold; border: 1px solid #e0e0e0;\">😊 Sentimiento</td>         <td style=\"padding: 10px; border: 1px solid #e0e0e0;\">{{ $('Edit Fields1').item.json.sentimiento_ia }}</td>       </tr>       <tr>         <td style=\"padding: 10px; font-weight: bold; border: 1px solid #e0e0e0;\">⚡ Urgencia</td>         <td style=\"padding: 10px; border: 1px solid #e0e0e0; font-weight: bold; color: #c62828;\">{{ $('Edit Fields1').item.json.urgencia_ia }}</td>       </tr>     </table>      <h3 style=\"color: #333; margin-top: 25px;\">📝 Mensaje Original</h3>     <div style=\"background-color: #fafafa; padding: 15px; border-radius: 5px; border-left: 3px solid #ccc;\">       <p style=\"color: #555; line-height: 1.7; margin: 0;\">{{ $('Edit Fields1').item.json.mensaje }}</p>     </div>      <h3 style=\"color: #333; margin-top: 25px;\">💬 Respuesta Enviada al Cliente (generada por IA)</h3>     <div style=\"background-color: #e8f5e9; padding: 15px; border-radius: 5px; border-left: 3px solid #4caf50;\">       <p style=\"color: #2e7d32; line-height: 1.7; margin: 0;\">{{ $json.content ? $json.content[0].text : $json.text }}</p>     </div>      <p style=\"color: #999; font-size: 12px; margin-top: 25px; border-top: 1px solid #e0e0e0; padding-top: 15px;\">       ⏰ Procesado: {{ $('Edit Fields1').item.json.fecha }} \n Sistema de Soporte Inteligente con Anthropic Claude     </p>        </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1952,
        -96
      ],
      "id": "2988c9dc-7774-4cb5-91af-bb1877267a23",
      "name": "Send a message1",
      "webhookId": "2ee000a9-7b43-49eb-b1c1-75d8867dca99",
      "credentials": {
        "gmailOAuth2": {
          "id": "z3nLSIYQ3peNuxbL",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Eres un asistente de clasificación de tickets de soporte técnico.  Analiza el ticket y responde ÚNICAMENTE con un JSON válido, sin explicaciones adicionales.  El JSON debe tener exactamente esta estructura: {   \"categoria\": \"TÉCNICO\" | \"FACTURACIÓN\" | \"CONSULTA_GENERAL\" | \"QUEJA\" | \"SOLICITUD\",   \"sentimiento\": \"POSITIVO\" | \"NEUTRO\" | \"NEGATIVO\" | \"FRUSTRADO\",   \"urgencia\": \"BAJA\" | \"MEDIA\" | \"ALTA\" | \"CRÍTICA\",   \"resumen\": \"Resumen de máximo 50 palabras del problema\",   \"palabras_clave\": [\"palabra1\", \"palabra2\", \"palabra3\"] }",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "Eres un asistente de clasificación de tickets de soporte técnico.  Analiza el ticket y responde ÚNICAMENTE con un JSON válido, sin explicaciones adicionales.  El JSON debe tener exactamente esta estructura: {   \"categoria\": \"TÉCNICO\" \n \"FACTURACIÓN\" \n \"CONSULTA_GENERAL\" \n \"QUEJA\" \n \"SOLICITUD\",   \"sentimiento\": \"POSITIVO\" \n \"NEUTRO\" \n \"NEGATIVO\" \n \"FRUSTRADO\",   \"urgencia\": \"BAJA\" \n \"MEDIA\" \n \"ALTA\" \n \"CRÍTICA\",   \"resumen\": \"Resumen de máximo 50 palabras del problema\",   \"palabras_clave\": [\"palabra1\", \"palabra2\", \"palabra3\"] }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        704,
        -96
      ],
      "id": "c3079875-03a1-497d-ac53-c9fb24644d00",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        688,
        112
      ],
      "id": "98d588cd-50d6-45ce-9af7-b3d2983f5f8e",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1lusjbiiOMRMz5vsDoVCDWdzsUGVEPDs3H54lHbN86KY",
          "mode": "list",
          "cachedResultName": "Tickets Soporte Inteligente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lusjbiiOMRMz5vsDoVCDWdzsUGVEPDs3H54lHbN86KY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lusjbiiOMRMz5vsDoVCDWdzsUGVEPDs3H54lHbN86KY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria IA",
              "displayName": "Categoria IA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentimiento",
              "displayName": "Sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgencia",
              "displayName": "Urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respuesta IA ",
              "displayName": "Respuesta IA ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        -96
      ],
      "id": "a539adf9-214f-448c-854b-072be73bf4db",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ulr49o3YIfLtd1e6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Eres un asistente de clasificación de tickets de soporte técnico.  Analiza el ticket y responde ÚNICAMENTE con un JSON válido, sin explicaciones adicionales.  El JSON debe tener exactamente esta estructura: {   \"categoria\": \"TÉCNICO\" | \"FACTURACIÓN\" | \"CONSULTA_GENERAL\" | \"QUEJA\" | \"SOLICITUD\",   \"sentimiento\": \"POSITIVO\" | \"NEUTRO\" | \"NEGATIVO\" | \"FRUSTRADO\",   \"urgencia\": \"BAJA\" | \"MEDIA\" | \"ALTA\" | \"CRÍTICA\",   \"resumen\": \"Resumen de máximo 50 palabras del problema\",   \"palabras_clave\": [\"palabra1\", \"palabra2\", \"palabra3\"] }",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "Eres un asistente de clasificación de tickets de soporte técnico.  Analiza el ticket y responde ÚNICAMENTE con un JSON válido, sin explicaciones adicionales.  El JSON debe tener exactamente esta estructura: {   \"categoria\": \"TÉCNICO\" \n \"FACTURACIÓN\" \n \"CONSULTA_GENERAL\" \n \"QUEJA\" \n \"SOLICITUD\",   \"sentimiento\": \"POSITIVO\" \n \"NEUTRO\" \n \"NEGATIVO\" \n \"FRUSTRADO\",   \"urgencia\": \"BAJA\" \n \"MEDIA\" \n \"ALTA\" \n \"CRÍTICA\",   \"resumen\": \"Resumen de máximo 50 palabras del problema\",   \"palabras_clave\": [\"palabra1\", \"palabra2\", \"palabra3\"] }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1440,
        -96
      ],
      "id": "99d1a280-271e-4ec6-95ae-78bc32ab3895",
      "name": "Basic LLM Chain1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b136e005-2482-453e-915b-c7e821062ef0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "705982195983a5100061d9ecc076c07c7bfa3da85d3a801d07e73e12c5faa1dd"
  },
  "id": "ncfVfFJB12OoaUJd",
  "tags": []
}