Notificador de Nueos Datos.json
{
  "name": "Notificador de Nueos Datos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/notify",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -16
      ],
      "id": "a25d7cda-e1a1-4191-9d1b-88ac1ec2c8e5",
      "name": "Webhook",
      "webhookId": "c559f5bb-46f8-4c94-8868-fdb8f822316f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f0843ca8-fa52-441b-a13d-d3025b259c47",
              "leftValue": "={{ $json.body.email }} 📋 Copiar",
              "rightValue": "^[a-zA-Z0-9_%.+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$ 📋 Copiar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        -16
      ],
      "id": "8d5ac2ba-e04f-4320-abb6-51b4848a6a9e",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        128,
        -112
      ],
      "id": "7b69ece6-2837-441a-824e-ed7c248489f6",
      "name": "Send a message",
      "webhookId": "f11c8f28-1fbe-4ad6-ac63-71d4cb2e2eb9"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "60bbc1e6-8c00-4df1-972a-d2bd9337a565",
  "meta": {
    "instanceId": "fcff21b213f169916cb701332892f1f5db25444fe79d70fe70ff875527850548"
  },
  "id": "QBATEhdeufsajPBx",
  "tags": []
}